export(geoTransfer, geoWeights, readMFfiles)

importFrom("data.table", "as.data.table", "is.data.table", "fread")
importFrom("doParallel", "registerDoParallel")
importFrom("dplyr", "enquo", "filter_", "funs", "group_by", "left_join","mutate_at", "summarise_at", "sym", "vars")
importFrom("foreach", "foreach", "%dopar%")
importFrom("magrittr", "%>%")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster")
importFrom("raster", "intersect")
importFrom("rgdal", "readOGR")
importFrom("rgeos", "gArea")
importFrom("sp", "CRS", "identicalCRS", "plot", "spTransform")
importFrom("stats", "setNames")
importFrom("svMisc", "assign_temp", "def", "get_temp")
importFrom("tools", "file_ext", "file_path_sans_ext")
importFrom("utils", "globalVariables", "flush.console", "read.table")
